@model UserSignUpViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <title>Login 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/SignIn/login-form-19/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section" style="margin-top:-80px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5" style="border-radius:40px;">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url('/SignIn/login-form-19/images/bg.jpg');"></div>
                        <h3 class="text-center mb-0">HOŞGELDİNİZ</h3>
                        <p class="text-center">Aşağıdaki bilgileri girerek kayıt olun</p>
                        <form class="login-form" asp-action="Index" asp-controller="RegisterUser" method="post">
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" asp-for="@Model.FirstName" placeholder="İsim" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" asp-for="@Model.LastName" placeholder="Soyisim" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-phone"></span></div>
                                <input type="text" class="form-control" asp-for="@Model.PhoneNumber" placeholder="Telefon Numarası" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-mail-forward"></span></div>
                                <input type="email" class="form-control" asp-for="@Model.Email" placeholder="E-Posta" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" asp-for="@Model.ComfirmPassword" placeholder="Şifre Tekrar" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-birthday-cake"></span></div>
                                <input type="date" class="form-control" asp-for="@Model.BirthDate" placeholder="Doğum Tarihi" required>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3" style="color:#e6400c;">Kayıt Ol</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="~/SignIn/login-form-19/js/jquery.min.js"></script>

    <script src="~/SignIn/login-form-19/js/main.js"></script>

    <script src="~/SignIn/login-form-19/js/popper.js"></script>
    <script src="~/SignIn/login-form-19/js/bootstrap.min.js"></script>
</body>
</html>





@*@section ScriptLogin{
    <script type="text/javascript">
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });

    </script>
}*@