@model List<Product>
@{
    ViewData["Title"] = "PassiveProductList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="main">
    <div class="container">

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40" style="margin-top:20px;">

            @await Html.PartialAsync("LeftMenu")
            <div class="col-md-9">

                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Satış Fiyatı</th>
                        <th>Stok</th>
                        <th>Marka</th>
                        <th>Ürün Kodu</th>
                        <th>Renk</th>
                        <th>Beden</th>
                        <th>Üst Kategori</th>
                        <th>Alt Kategori</th>
                        <th></th>
                    </tr>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.ID</td>
                            <td>@product.ProductName</td>
                            <td>@product.DiscountedPrice</td>
                            <td>@product.UnitsInStock</td>
                            <td>@product.TradeMark</td>
                            <td>@product.ProductCode</td>
                            <td>@product.ProductColor.Color</td>
                            <td>@product.ProductSize.Size</td>
                            <td>@product.Category.CategoryName</td>
                            <td>@product.SubCategory.SubCategoryName</td>
                            <td>
                                <a asp-action="UpdateProduct" asp-route-productId="@product.ID" asp-route-userName="@User.Identity.Name">
                                    <i class="glyphicon glyphicon-refresh" title="Güncelle ve Aktif Et"></i>
                                </a>
                            </td>
                        </tr>
                    }



                </table>


            </div>

        </div>
    </div>
</div>


